<header class="bg-white w-100">
      <div class="header">
            <img height="40" width="150" src="../../assets/media/freelance-logo.png" alt="freelance-logo" />
            <div class="header-right">
                  <a routerLink="/login" routerLinkActive="active" class="text-underlineonhover">Log In</a>
                  <a routerLink="/signup" class="text-underlineonhover">Sign Up</a>
                  <a class="btn btn-hire rounded text-white" id="paj">Post a Project</a>
            </div>
      </div>
</header>