<!-- <app-header></app-header> -->
<!-- <app-job></app-job> -->
<app-jobdetails></app-jobdetails>
<!-- <app-jobdetails></app-jobdetails> -->
<!-- <app-searchfilter></app-searchfilter> -->
<!-- <app-proposalinfo></app-proposalinfo> -->
<!-- <app-entry></app-entry>
<app-needwork></app-needwork>
<app-greatabout></app-greatabout>
<app-projectshowcase></app-projectshowcase> -->
<!-- <app-proposalinfo></app-proposalinfo> -->
<!-- <app-searchfilter></app-searchfilter> -->
<!-- <app-entry></app-entry>
 -->
<!-- 
 -->
<!-- <app-companies></app-companies> -->
<!-- 
<footer></footer> -->
<!-- <app-searchresult-list></app-searchresult-list> -->
<!-- <app-jobfilter></app-jobfilter> -->
<!-- <app-searchfilter></app-searchfilter> -->
<!-- <app-proposalinfo></app-proposalinfo> -->