<app-navbar></app-navbar>
<div *ngIf="!requests?.length" class="alg-center w-100 mt-15 bg-white rounded">
    <h1>No request found for {{ jobId }}</h1>
    <h3><a [routerLink]="['/jobs']" class="text-underlineonhover showProp">Take me to jobs</a></h3>
</div>

<div id="middle">
    <ul class="proposal-list col-s-12 col-xs-12">
        <li *ngFor="let request of requests" class="proposal-list-item mb-15 bg-white rounded">
            <div class="prop-li-info-card-heading  col-s-12 col-xs-12">
                <div class="prop-li-info-card-heading-img mr-10 alg-center col-xs-2 col-s-2">
                    <img src="../../../assets/media/graphic-design.png" alt="" />
                </div>
                <div class="prop-li-info-card-heading-info alg-left col-8 col-s-6 col-xs-6">
                    <div class="mb-15">
                        <h1>{{ request.freelancer.user.name + ' ' + request.freelancer.user.surname }}</h1>
                        <h3 class="nowrap ml-20">@ {{ request.freelancer.user.userName }}</h3>
                    </div>
                    <small class="completion">95% Completion</small>
                </div>
                <div class="prop-li-info-card-heading-price alg-right col-2 col-xs-4 col-s-4">
                    <h3>$ {{ request.offer }} in {{ request.howManyDay }} day</h3>
                    <h4>USD</h4>
                </div>
            </div>
            <div class="prop-li-info-card-body col-s-12 col-xs-12">
                <div class="prop-li-info-card-body-content col-s-9 col-xs-9">
                    <p>{{ request.requestDescription }}</p>
                </div>
                <div class="prop-li-info-card-body-spam alg-right col-xs-3 col-s-3">
                    <button class="btn btn-work rounded text-white col-8 col-md-6 col-s-12 col-xs-12 p-15"
                        (click)="onAccept(request.freelancerId)">Accept</button>
                    <button
                        class="btn btn-work bg-danger rounded text-white col-8 col-md-6 col-s-12 col-xs-12 p-15">Reject</button>
                </div>
            </div>
        </li>
    </ul>
</div>