<section id="companies">
    <div class="companies-container col-12">
        <div class="col-2 col-md-12 col-s-12 companiesheading">
            As used by
        </div>
        <div class="col-10 col-md-12 col-s-12 companies-lists alg-right">
            <div class="col-7 col-md-12 col-s-12 companies-list">
                <div class="companies-list-item">
                    <img src="../../assets/media/microsoft.svg" alt="microsoft-logo" class="companies-img">
                </div>
                <div class="companies-list-item">
                    <img src="../../assets/media/sapsvg.svg" alt="" class="companies-img">
                </div>
                <div class="companies-list-item">
                    <img src="../../assets/media/metlife.svg" alt="" class="companies-img">
                </div>
                <div class="companies-list-item">
                    <img src="../../assets/media/intel.svg" alt="" class="companies-img">
                </div>
            </div>
            <div class="col-7 col-md-12 col-s-12 companies-list">
                <div class="companies-list-item">
                    <img src="../../assets/media/boeing.svg" alt="" class="companies-img">
                </div>
                <div class="companies-list-item">
                    <img src="../../assets/media/avery-dennison.svg" alt="" class="companies-img">
                </div>
                <div class="companies-list-item">
                    <img src="../../assets/media/pwc.svg" alt="" class="companies-img">
                </div>
                <div class="companies-list-item">
                    <img src="../../assets/media/ge.svg" alt="" class="companies-img">
                </div>
            </div>
        </div>
    </div>
</section>