<form #ngForm class="form">
    <div class="fromheading">
        <img height="50" width="200" src="../../assets/media/freelance-logo.png" alt="">
    </div>
    <span class="formwelcome">Welcome Back</span>
    <div class="login" id="fb">
        <button class="col-s-12 rounded btn btn-fb">Login with Facebook</button>
    </div>
    <div class="fromdivider">
        <span>OR</span>
    </div>
    <div class="forminputs">
        <input class="focus email col-s-12 rounded" placeholder="Email address" #email />
        <input class="focus col-s-12 rounded" type="password" placeholder="Password" #password />
    </div>
    <div class="login" id="nfb">
        <button class="col-s-12 rounded btn btn-login" 
        (click)="onSubmit(email.value,password.value)">Login In</button>
    </div>
    <hr class="w-100" />
    <span routerLink="/signup" routerLinkActive="active" class="redirectSignUp">Don't have an account? <a
            class="text-underlineonhover">Sign up</a></span>
</form>