<section id="greatabout">
    <h2>What's great about it?</h2>
    <div class="benefits-list">
        <div class="benefits-card">
            <div class="benefitsheading">
                <img src="../../assets/media/browse-portfolios.svg" alt="browse-portfolios-icon" />
                <h3><b>Browse portfolios</b></h3>
            </div>
            <div class="benefitsbody">
                <p>Find professionals you can trust by browsing their samples of previous work and reading their profile
                    reviews.</p>
            </div>
        </div>
        <div class="benefits-card">
            <div class="benefitsheading">
                <img src="../../assets/media/view-bids.svg" alt="view-bids-icon" />
                <h3><b>View bids</b></h3>
            </div>
            <div class="benefitsbody">
                <p>Receive free bids from our talented freelancers within seconds.</p>
            </div>
        </div>
        <div class="benefits-card">
            <div class="benefitsheading">
                <img src="../../assets/media/live-chat.svg" alt="live-chat-icon" />
                <h3><b>Live chat</b></h3>
            </div>
            <div class="benefitsbody">
                <p>You can live chat with your freelancers to get constant updates on the progress of your work.</p>
            </div>
        </div>
    </div>
</section>