<section id="entry">
    <div class="entrycont">
        <h1 class="text-white">Hire expert freelancers for any job, online</h1>
        <h3 class="text-white">Millions of small businesses use Freelancer to turn their ideas into reality.</h3>
        <a class="col-lg-3 col-4 col-md-4 col-s-12 btn btn-hire rounded text-white text-centered"><b>I want to Hire</b></a>
        <a class="nowrap col-lg-3 col-4 col-md-4 col-s-12 btn btn-work rounded text-white text-centered"><b>I want to Work</b></a>
    </div>
</section>