<section id="projectshowcase">
    <div class="projcont">
        <h2>Crowd favorites</h2>
        <h2>Here are some of our most popular projects</h2>

        <div class="cardlist">
            <div class="col-s-9 col-md-10 col-3 card">
                <img class="w-100" src="../../assets/media/marketing.png" alt="marketing" />
                <div class="card-body">
                    <h4><b>Website Development</b></h4>
                    <p>From $300 USD</p>
                </div>
            </div>
            <div class="col-s-9 col-md-10 col-3 card">
                <img class="w-100" src="../../assets/media/graphic-design.png" alt="graphic-design" />
                <div class="card-body">
                    <h4><b>Graphic design</b></h4>
                    <p>From $100 USD</p>
                </div>
            </div>
            <div class="col-s-9 col-md-10 col-3 card">
                <img class="w-100" src="../../assets/media/logo-design.png" alt="logo-design" />
                <div class="card-body">
                    <h4><b>Logo design</b></h4>
                    <p>From $50 USD</p>
                </div>
            </div>
        </div>
    </div>
</section>