<div *ngIf="hasRequest">
    <div id="hasRequest">
        <div class="bg-white mt-15 rounded col-s-12 col-xs-12">
            <h1 class="d-block">Already you have request on this job.</h1>
            <h3><a [routerLink]="['/jobs', jobId, 'proposals']" class="text-underlineonhover showProp">Show my request</a></h3>
        </div>
    </div>
</div>

<div *ngIf="!hasRequest" id="createrequest">
    <div class="bg-white rounded col-s-12 col-xs-12">
        <form id="reqform">
            <div>
                <h1 class="p-15">Create Bid</h1>
            </div>
            <div>
                <label for="description">Description
                    <textarea type="text" class="focus w-100 p-5 rounded tbx" id="description" required
                        [(ngModel)]="desc" name="description" minlength="10" #description="ngModel"></textarea>
                </label>
                <div [hidden]="description.valid || description.pristine"
                    class="alert alert-danger rounded col-xs-12 col-s-12">
                    Description is required
                </div>
            </div>
            <div>
                <label for="howManyDay">How many day ?
                </label>
                <input type="number" id="number" class="focus w-100 rounded tbx" min="1" max="7" required
                    name="howManyDay" #howManyDay="ngModel" [(ngModel)]="hmd" />
                <div [hidden]="howManyDay.valid || howManyDay.pristine"
                    class="alert alert-danger rounded col-xs-12 col-s-12">
                    Choose deadline
                </div>
            </div>
            <div>
                <label for="howManyDay">What is your offer ?
                </label>
                <input type="number" id="number" class="focus w-100 rounded tbx" min="5" max="10000" required
                    name="offer" #offer="ngModel" [(ngModel)]="offered" />
                <div [hidden]="offer.valid || offer.pristine" class="alert alert-danger rounded col-xs-12 col-s-12">
                    How much do you offer?
                </div>
            </div>


            <button [disabled]="!description.valid || !howManyDay.valid || !offer.valid"
                class="btn btn-work rounded text-white col-s-12 col-xs-12"
                (click)="onApply(description.value,howManyDay.value,offer.value)">Apply</button>
        </form>
    </div>
</div>