<ul class="proposal-list  col-9 col-md-12 col-s-12">
    <li *ngFor="let proposal of proposals"  class="proposal-list-item mb-15 bg-white rounded">
        <a href="#">
            <div class="prop-li-info-card-heading  col-12 col-md-12 col-s-12">
                <div class="prop-li-info-card-heading-img mr-10 alg-center col-2 col-md-2 col-s-2">
                    <img src="../../../assets/media/graphic-design.png" alt="" />
                </div>
                <div class="prop-li-info-card-heading-info alg-left col-8 col-md-6 col-s-6">
                    <div class="mb-15">
                        <h1>{{ proposal.freelancer.user.name + ' ' + proposal.freelancer.user.surname }}</h1>
                        <h3 class="nowrap ml-20">@ {{ proposal.freelancer.user.userName }}</h3>
                    </div>
                    <small class="completion">95% Completion</small>
                </div>
                <div class="prop-li-info-card-heading-price alg-right col-2 col-md-4 col-s-4">
                    <h3>$ {{ proposal.offer }} in {{ proposal.howManyDay }} day</h3>
                    <h4>USD</h4>
                </div>
            </div>
            <div class="prop-li-info-card-body col-12 col-md-12 col-s-12">
                <div class="prop-li-info-card-body-content col-9 col-md-9 col-s-9">
                    <p>{{ proposal.requestDescription }}</p>
                </div>
                <div class="prop-li-info-card-body-spam alg-right col-3 col-md-3 col-s-3">
                    <a class="cl-blue" href="#">Report as spam</a>
                </div>
            </div>
        </a>
    </li>
</ul>